<ion-header>
  <ion-toolbar>
    <ion-title>Mis Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-select placeholder="Filtrar por categoría" #V (ionChange)="filter(V.value)">
    <ion-select-option value="t">Tecnología</ion-select-option>
    <ion-select-option value="h">Hogar</ion-select-option>
    <ion-select-option value="i">Inmobiliaria</ion-select-option>
    <ion-select-option value="m">Motor</ion-select-option>
  </ion-select>

  <div *ngFor="let producto of productos">
    <div *ngIf="producto.categoria == categoria">


  <ion-card >
    <ion-card-header>
      <ion-card-title>{{producto.nombre}} ({{producto.precio}}€)</ion-card-title>
      <ion-label color="secondary">ID / KEY:</ion-label>{{producto.id}}<br>
    </ion-card-header>

    <ion-card-content *ngIf = "producto.categoria == 't'">
        <ion-label color="primary">Descripción:</ion-label>{{producto.descripcion}}<br>
        <ion-label color="primary">Categoría:</ion-label>{{producto.categoria}}<br>
        <ion-label color="primary">Estado:</ion-label>{{producto.estado}}<br>
    </ion-card-content>

      
    <ion-card-content *ngIf = "producto.categoria == 'h'">
        <ion-label color="primary">Descripción:</ion-label>{{producto.descripcion}}<br>
        <ion-label color="primary">Categoría:</ion-label>{{producto.categoria}}<br>
    </ion-card-content>

      
    <ion-card-content *ngIf = "producto.categoria == 'i'">
        <ion-label color="primary">Descripción:</ion-label>{{producto.descripcion}}<br>
        <ion-label color="primary">Categoría:</ion-label>{{producto.categoria}}<br>
        <ion-label color="primary">Metros Cuadrados:</ion-label>{{producto.metrosCuadrados}}<br>
        <ion-label color="primary">Número de baños:</ion-label>{{producto.numeroBanyos}}<br>
        <ion-label color="primary">Número de habitaciones:</ion-label>{{producto.numeroHabitaciones}}<br>
        <ion-label color="primary">Localidad:</ion-label>{{producto.localidad}}<br>
    </ion-card-content>

      
    <ion-card-content *ngIf = "producto.categoria == 'm'">
        <ion-label color="primary">Descripción:</ion-label>{{producto.descripcion}}<br>
        <ion-label color="primary">Categoría:</ion-label>{{producto.categoria}}<br>
        <ion-label color="primary">Tipo:</ion-label>{{producto.tipo}}<br>
        <ion-label color="primary">Año de matriculación:</ion-label>{{producto.anyo}}<br>
        <ion-label color="primary">Kilómetros:</ion-label>{{producto.km}}<br>
    </ion-card-content>

    <ion-button color="danger" (click)="remove(producto.id)">Eliminar</ion-button>
    <ion-button color="warning" [routerLink]="['/modificar', producto.id]">Modificar</ion-button>
  </ion-card>
 </div>
</div>

</ion-content>
