<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="block" routerLink="/productos" routerDirection="forward">Mostrar productos</ion-button>
    <ion-button expand="block" routerLink="/insertar-productos" routerDirection="forward">Insertar producto</ion-button>
    <ion-button fill="solid" color="dark" expand="block" routerLink="/mis-productos" routerDirection="forward">Mis Productos</ion-button>
    <ion-button (click)="countLikes('EZWPdoS5rVdG4P54sRBV4YiNOgv1')">Número de productos que me gustan</ion-button>



</ion-content>
